<div class="container" style="background-color: darkslategrey">
  <!-- 
  Antes de usar APP_ROUTING estábamos incluyendo TODO en el body  
  <app-data-binding></app-data-binding>
  <app-directives></app-directives>
  <app-pipes></app-pipes>
  <app-forms></app-forms>
  <app-reactive-forms></app-reactive-forms>
  <app-active-user></app-active-user>
  <app-ejercicio-reactive-form></app-ejercicio-reactive-form> -->
  
  <!-- Ahora hay que usar una directiva para utilizar la funcionalidad de APP_ROUTING-->
  <router-outlet></router-outlet>
  <!-- Se pueden tener varios router-outlet -->
  <router-outlet name="menu2"></router-outlet>
</div>


