<h2>Ejemplos de enrutamiento</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ title }}</h3>
  </div>
  <div class="panel-body">
    {{ description }}
    <br/>

    <div>
      <button class="btn" (click)="showEmployee(1)">Empleado 1</button>
      <button class="btn" (click)="showEmployee(2)">Empleado 2</button>
      <button class="btn" (click)="showEmployee(3)">Empleado 3</button>
    </div>

    <br/>
    <a class="btn btn-primary" [routerLink]="['editar']" *ngIf="activeEmployee">Editar empleado activo: <strong>{{ activeEmployee.name }}</strong></a>

    <router-outlet></router-outlet>

  </div>
</div>
