<h2>Ejercicio: Crear pipe active-users </h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Active users</h3>
  </div>
  <div class="panel-body">
    El array sin filtrar:
    <br/>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let emp of employees">{{ emp.name }}</li>
    </ul>

    <br/>
    El array filtrado:
    <br/>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let emp of (employees | activeUser)">{{ emp.name }}</li>
    </ul>
  </div>
</div>